.label {
  font-weight: bold;
  color: white;
  width: 149px;
  display: inline-block;
}

.highlight {
  color: #ff00ff;
}

.About-image {
  margin-left: 80px;
  width: 450px;
  height: 450px;
  object-fit: cover;
  border: 5px solid #ff00ff; 
  transition: border 0.3s ease-in-out;
}

.About-image:hover {
  border: 10px solid #ffffff; 
}

.info-section {
  max-width: 600px;
}

.container {
  display: flex;
  gap: 50px; 
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 4px #800080; 
}

p {
  font-size: 18px;
  text-align: left;
}

.details p {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media only screen and (max-width: 320px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }

 
  .About-image {
    width: 100%;
    max-width: 280px;
  }

  .info-section {
    padding: 0 10px;
  }

  .info-section h1 {
    font-size: 20px;
  }

  .details {
    font-size: 12px;
  }

}

@media only screen and (max-width: 375px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }

 
  .About-image {
    width: 95%;
    max-width: 300px;
  }

  .info-section h1 {
    font-size: 22px;
  }
.info-section{
  padding-left: 800px;
}
  .details {
    font-size: 13px;
  }

}

@media only screen and (max-width: 425px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }
 
  .About-image {
    
    max-width: 500px;
    margin-bottom: -120px;
    margin-right:455px;
    
  }
  .container{
    margin-left: 57px;
  }
  .container
  .details{
    margin-left: -36%;
  }
 .container
  .info-section
  .details
  .label{
    margin-left:20px;
  }
  .container
  .info-section
  .details
.highlight{
    margin-left:-40px;
  }

 .container 
  .details p{
    font-size:65%;
  }

  .info-section {
    width: 100%;
    margin-left:-350%;
    
    
    
  }

  .info-section h1 {
    font-size: 21px;
  }
.details p{
  font-size:16px;
  
}

 
}
@media screen and (max-width: 768px) {
  
  .navigation{
    display:none;
  }
.about h1{
  font-size:40px;
  margin-left: -16px;
}
.image-section{
   margin-top: -509px;
   margin-right: 3%;
}
.details{
  margin-top: 350px;
    margin-left:-555px;
 
}
  
.About-image{ 
  margin-top: 150px;
}

 
.body{
  margin:0;
}
  }
  
  
  

@media screen and (max-width: 1024px) {
 
  .About-image {
      width: 50%;
      height: auto;
  }

  .info-section h1 {
      font-size: 36px;
  }

  
}


@media screen and (max-width: 1440px) {
  
  .About-image {
      width: 33%;
      height: auto;
  }


}

