.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.input-box {
  margin-bottom: 20px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
  margin: 5px 0; 
}

form {
  background: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px magenta;
  margin-bottom: 3rem;
  text-align: center;
  max-width: 70rem;
  margin: 1rem auto;
  width: 1000px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0; 
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid magenta;
  background: lightgray;
  font-weight: bold;
}

.row input {
  width: 48%; 
}

textarea {
  height: 250px;
}

.contact-button {
  width: 100%;
  padding: 10px;
  background: gray;
  color: magenta;
  font-weight: bold;
  border: 2px solid magenta;
  cursor: pointer;
  transition: 0.3s;
}

.contact-button:hover {
  background: magenta;
  color: white;
}
@media only screen and (max-width: 320px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }

 
form {
  width: 90%;
}

.row {
  flex-direction: column;
}

.row input {
  width: 100%;
}

}


@media only screen and (max-width: 375px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }


 

form {
  width: 90%;
}

.row {
  flex-direction: column;
}

.row input {
  width: 100%;
}

}


@media only screen and (max-width: 425px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }

form {
  width: 90%;
}

.row {
  flex-direction: column;
}

.row input {
  width: 100%;
}

}
@media screen and (max-width: 768px) {
  .navigation{
      display:none;
    }

 
  

  }
  
  
  

@media screen and (max-width: 1024px) {
 

 

}


@media screen and (max-width: 1440px) {
 


}
