
body {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
}
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}


header {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  padding:1rem 9%;;
  animation: topIn 1.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
  position: fixed;
}
.header .logo {
  text-decoration: none;
  color: white; 
  font-size: 24px;
  transform: scale(1.1);
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}
.header .logo:hover {
  color: #ff04ff;
  transition: 0.3s ease-in-out;
  transform: translateY(4px); 
}

nav ul {
  display: flex;
  list-style: none;
  gap: 58px;
  margin-left: 2.5rem;
  color: white;
  font-weight: 550;
  
}
nav ul li a {
  color: white; 
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff04ff;
}
nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #ff04ff;
  transition: width 0.3s ease-in-out;
}
nav ul li:hover::after {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  gap: 67px;
  padding: 120px;
  
}
.text-section {
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: -639px;
  margin-left:10px;
  animation: topIn 1.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
}

.text-animation {
  font-size: 34px;
  font-weight: 700;
  min-width: 280px;
  animation: topIn 1.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.2s;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: 'Web Developer';
  color: magenta;
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid magenta;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;

}

@keyframes bottomIn {
  from {
    transform: translateY(250px) ;
  }
  to {
    transform: translateY(0) ;
    opacity: 1;
  }
}

@keyframes topIn {
  from {
    transform: translateY(-100px) ;
  }
  to {
    transform: translateY(0) ;
    opacity: 1;
  }
}

@keyframes imgIn {
  from {
    transform: translateY(250px) scale(0.8) ;
  }
  to {
    transform: translateY(0) scale(1) ;
    opacity: 1;
  }
}







@keyframes words {

  0%,
  20% {
      content: 'Web Developer';
  }

  40% {
      content: 'UI/UX Designer';
  }

  60% {
      content: 'Software Developer';
  }

  80% {
      content: 'Photographer';
  }

  80% {
      content: 'Writer';
  }
}

@keyframes typing {

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
      width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
      width: calc(100% + 8px);
  }
}


.social-icons {
  margin-top: 10px;
  animation: bottomIn 1.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.6s;
}
.social-icons a img {
  width: 71px;
  height: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-icons a img {
  width: 40px;
  margin-right: 10px;
}
.social-icons a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  line-height: 41px;
  background: transparent;
  border: 2px solid black;
  border-radius: 50%;
  color: #ff04ff;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.social-icons a:hover {
  color: #d400d4;
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 20px #d400d4;
  background-color: #d400d4;
  border: 2px solid #d400d4;
  align-items: center;
  justify-content: center;
}
.cv-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff04ff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}
.image-section {
  position: relative;
  animation: imgIn 1.4s ease-in-out forwards;

}
.profile-image {
  margin-top: 169px;
  margin-left: 651px;
  width: 400px;
  border-radius: 50%;
  box-shadow: 0 0 25px #ff04ff;
  top: 9rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.profile-image:hover {
  box-shadow: 0 0 50px, 0 0 100px;
  color: #ff04ff;
}
.letter{
  animation: bottomIn 1.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.3s;
}
.cv-button {
  margin-top: 42px;
  padding: 10px 20px;
  background-color: #ff04ff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: bottomIn 1.4s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.5s;
}
.cv-button:hover {
  background-color: #d400d4; 
  transform: scale(1.1); 
  box-shadow: 0 0 50px, 0 0 100px;
}
.cv-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ff04ff;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3sease, transform 0.3sease;
}

#burger {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: none;
  
}
.menu-panel {
  color: white;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.5s ease-in-out;
}
.menu-panel ul {
  list-style: none;
  padding: 50px 20px;
}
.menu-panel ul li {
  margin-bottom: 30px;
  background-color: #ff00ff;
}
.menu-panel ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: none;
}
.close-btn {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  display:none;
}
@media only screen and (max-width: 320px) {
  #burger {
    display: block; /* Ensure the burger button is visible */
    font-size: 2rem; /* Adjust size if needed */
    margin-right: 10%; /* Adjust positioning */
  }

  .navigation {
    display: none; /* Hide the navigation menu */
  }

  .menu-panel {
    display: block; /* Ensure the menu panel is ready to be toggled */
  }

  .menu-panel.active {
    right: 0; /* Show the menu panel when active */
  }
}


@media only screen and (max-width: 375px) {
  #burger {
    display: block; /* Ensure the burger button is visible */
    font-size: 2rem; /* Adjust size if needed */
    margin-left: -50%; /* Adjust positioning */
  }

  .navigation {
    display: none; /* Hide the navigation menu */
  }

  .menu-panel {
    display: block; /* Ensure the menu panel is ready to be toggled */
  }

  .menu-panel.active {
    right: 0; /* Show the menu panel when active */
  }
  .profile-image {
    margin: 0 auto;
    width: 200px;
  }
  .container {
    flex-direction: column;
    padding: 20px;
  }
  header {
    padding: 1rem 5%; /* reduce from 9% */
  }
}


@media only screen and (max-width: 425px) {
  #burger {
    display: block; /* Ensure the burger button is visible */
    font-size: 2rem; /* Adjust size if needed */
  margin-right:75%;
  }

  .navigation {
    display: none; /* Hide the navigation menu */
  }

  .menu-panel {
    display: block; /* Ensure the menu panel is ready to be toggled */
  }

  .menu-panel.active {
    right: 0; /* Show the menu panel when active */
    margin-right:42%;
  }
  .logo img {
      width: 100%;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .image-section {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-right: 20%;

  }

  .profile-image {
    width: 250px;
  }

  .text-section {
    max-width: 100%;
    padding: 0px;
  } .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    

  }

  .container
  .text-section{
    margin-left:-30%;
  }
.container
  .text-section h1{
    font-size:30px;
  }
  .container
  .text-section h3{
    font-size:25px;
  }
  .container
  .text-section p{
    font-size:20px
  }
  .container
  .text-section
  .social-icons{
    font-size:10px;
  }
  .container
  .text-section
  .cv-button{
    font-size:15px;
  }
  .image-section {
    order: -1; 
  }



  
}
@media screen and (max-width: 768px) {
  #burger {
    display: block; /* Ensure the burger button is visible */
    font-size: 2rem; /* Adjust size if needed */
  }
nav ul {
  display:none;
}
.menu-panel ul li a{
  display: block;
  color: white;
}
.menu-panel ul {
  display: block;
}
.close-btn{
  display: block;
}
  .navigation {
    display: none; /* Hide the navigation menu */
  }

  .menu-panel {
    display: block; /* Ensure the menu panel is ready to be toggled */
  }

  .menu-panel.active {
    right: 0; /* Show the menu panel when active */
  }
.image-section{
  order:-1;
  
}
    .text-section{
      margin-top: 33px;
      margin-left: 80px;
    
      font-size:17px;
    }
.text-section p{
  font-size:25px
}
.text-section h1{
  font-size:50px;
}
 .text-section h3{
  font-size:40px;
}
.profile-image{
  margin-left: 5%;
  margin-top: 625px;
  max-width: 500px;
}

  .container {
      flex-direction: row;
      padding: 30px;
  }
 
   .cv-button{
     font-size:25px;
   }
   
  }
  
  
  

@media screen and (max-width: 1024px) {
  .container {
      flex-direction: row;
      padding: 40px;
  }

}


@media screen and (max-width: 1440px) {
  .container {
      flex-direction: row;
      padding: 50px;
  }

 .navigation{
    display:none;
  }
 
}
