.work-list {
  display:flex ;
  gap: 40px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  max-width: 20%;
  margin-left: 10%;}

.work img {
  width:100%;
  border-radius: 10px;
  transition: transform 0.5s;
}

.layer {
  width: 50%;
  background: linear-gradient(to right, #e327e3, #ffc0cb);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
  color: black;
  display:none;
}

.layer h3{
  font-size:25px ;
}
.layer h4 {
  font-size: 15px;
 
}

.layer a {
  margin-top: 20px;
  color: #ff04ff;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #382020;
  width: 40%;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(0.9); 
  width: 60%;
}

.work:hover .layer {
  border-radius: 10px;
  background: linear-gradient(to right, #e327e3, #ffc0cb);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: height 0.5s;
  color: black;
  font-size: 4px
  ;
}

.projects form .btn {
  margin-top: 2rem;
  align-items: center;
}
@media only screen and (max-width: 320px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }


.work-list {
  margin-left: 0;
  grid-template-columns: 1fr;
}

.work img {
  width: 100%; 
}

.layer {
  padding: 0 10px;
}

h1 {
  font-size: 24px;
}
}


@media only screen and (max-width: 375px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
      width: 100%;
  }

  

.work-list {
  grid-template-columns: 1fr;
  margin-left: 0;
  
}

.work img {
  width: 100%;
}

.layer {
  
}

h1 {
  font-size: 28px;
}
}

@media only screen and (max-width: 425px) {
  #burger {
    display: block;
  }
  .navigation {
    display: none;
  }
  
  .menu-panel.active {
    right: 0;
  }
  .logo img {
    width: 100%;
  }

  .work-list {
  padding-right:52px;
    gap: 50px;
  }

  .work img {
    width: 100%; 
  }

  .layer {
  
  }

  h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .navigation{
    display:none;
  }



  .work-list {
    grid-template-columns: repeat(2, 1fr);
    margin-right: 10%; 
    gap: 20px;
  }
  
  .work img {
    width: 100%;
  }
   .work{
    margin-left:25px;
    max-width:250px;
     width:100%;
  }
 
  .layer {
    width: 100%;
    height:auto;

  }
}
  
  
  

@media screen and (max-width: 1024px) {
 
 
  .work-list {
    gap: -178px;
    margin-left: 0;
  }

  .work img {
    width: 100%;
  }

  .layer {
height:auto;
  }

  h1 {
    font-size: 36px;
  }
}


@media screen and (max-width: 1440px) {
  

  
  .work-list {
    margin-left: 50px;
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
   } 

  .work img {
    width: 100%;
  }

  .layer {
  
        width: auto;
    height:auto;


  }

  h1 {
    font-size: 40px;
  }
}
